@using MvcWebComponents.Model
@model ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.MvcSiteMap().SiteMapTitle() - 餐饮油烟在线监控平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Css", false)
</head>
<body>
<div class="navbar navbar-default topheadnav">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("餐饮油烟在线监控平台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right logout-form"}))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span>退出</span>
                    </a>
                </li>
            </ul>
        }
    </div>
</div>
    <div class="wapper">
        <div class="sidebar">
            <div class="main-menu">
                @Html.Partial("_Menu", Model)
            </div>
        </div>
        <div class="body-content" id="body-content">
            <div class="main-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - 餐饮油烟在线监控平台</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
    <script src="/Scripts/Utility/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
