@using MvcWebComponents.Model
@model ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default topheadnav">
    </div>
    <div class="wapper">
        <div class="sidebar">
            <div class="main-menu">
                @{
                    foreach (var menu in Model.Menus.Where(menu => menu.ModuleLevel == 1 && menu.IsMenu))
                    {
                        <div class="main-menu-item">
                            <span class="@menu.IconString" aria-hidden="true"></span>
                            <span>@menu.ModuleName</span>
                        </div>
                        <div class="sub-menu">
                            @{
                                foreach (var subMenu in Model.Menus.Where(subMenu => subMenu.ParentModuleId == menu.Id && subMenu.IsMenu))
                                {
                                    <div class="sub-menu-item">
                                        @Html.ActionLink(subMenu.ModuleName, subMenu.Action, subMenu.Controller)
                                    </div>
                                }
                            }
                        </div>
                                }
                }
            </div>
        </div>
        <div class="body-content">
            <div class="nav-container"></div>
            <div class="main-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
    @RenderSection("scripts", required: false)
</body>
</html>
