@using MvcWebComponents.Model
@model ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.MvcSiteMap().SiteMapTitle() - 餐饮油烟在线监控平台</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Css", false)
</head>
<body>
    <div class="navbar navbar-default topheadnav">
        <div class="navbar-header">
            @Html.ActionLink("餐饮油烟在线监控平台", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right logout-form" }))
            {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <span class="glyphicon glyphicon-log-out"></span>
                        <span>退出</span>
                    </a>
                </li>
            </ul>
        }
    </div>
    <div class="wapper">
        <div class="sidebar">
            <div class="main-menu">
                @Html.Partial("_Menu", Model)
            </div>
        </div>
        <div class="body-content" id="body-content">
            @*<div class="siteMap">
                    @Html.MvcSiteMap().SiteMapPath()
                </div>*@
            <div class="main-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="modal fade" id="baseModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"></button>
                    <button type="button" class="btn btn-main" id="modal-confirm" style="display: none;">确认</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")
    <script src="/Scripts/Utility/Base.js"></script>
    <script src="/Scripts/Utility/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
