@using Lampblack_Platform.Models.Home
@using Platform.Process.Enums
@model IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-content">
    <div class="float-card float-card-default" style="width: 39%; margin-right: 1%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center text-main-reverse">实时清洁度分布</h4>
            </div>
            <div class="panel-body">
                <input type="hidden" data-nodata="@Model.NoData" data-faild="@Model.Faild" data-worse="@Model.Worse" data-qualified="@Model.Qualified" data-good="@Model.Good" />
                <div id="cleannessMap" style="height: 250px;"></div>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" id="tab-nav">
                    <li role="presentation" class="active">
                        <a href="#" data-target="nodata">无数据</a>
                    </li>
                    <li role="presentation">
                        <a href="#" data-target="faild">失效</a>
                    </li>
                    <li role="presentation">
                        <a href="#" data-target="worse">较差</a>
                    </li>
                    <li role="presentation">
                        <a href="#" data-target="qualified">合格</a>
                    </li>
                    <li role="presentation">
                        <a href="#" data-target="good">良好</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="list-group clean-list" style="margin-bottom: 0;" id="nodata">
            @{
                foreach (var source in Model.HotelCleanessList.Where(obj => obj.CleanessRate == CleanessRateResult.NoData))
                {
                    <li class="list-group-item">
                        <span>
                            @source.HotelName
                        </span>
                    </li>
                }
            }
        </ul>
        <ul class="list-group clean-list" style="margin-bottom: 0; display: none;" id="faild">
            @{
                foreach (var source in Model.HotelCleanessList.Where(obj => obj.CleanessRate == CleanessRateResult.Fail))
                {
                    <li class="list-group-item">
                        <span>
                            @source.HotelName
                        </span>
                    </li>
                }
            }
        </ul>
        <ul class="list-group clean-list" style="margin-bottom: 0; display: none;" id="worse">
            @{
                foreach (var source in Model.HotelCleanessList.Where(obj => obj.CleanessRate == CleanessRateResult.Worse))
                {
                    <li class="list-group-item">
                        <span>
                            @source.HotelName
                        </span>
                    </li>
                }
            }
        </ul>
        <ul class="list-group clean-list" style="margin-bottom: 0; display: none;" id="qualified">
            @{
                foreach (var source in Model.HotelCleanessList.Where(obj => obj.CleanessRate == CleanessRateResult.Qualified))
                {
                    <li class="list-group-item">
                        <span>
                            @source.HotelName
                        </span>
                    </li>
                }
            }
        </ul>
        <ul class="list-group clean-list" style="margin-bottom: 0; display: none;" id="good">
            @{
                foreach (var source in Model.HotelCleanessList.Where(obj => obj.CleanessRate == CleanessRateResult.Good))
                {
                    <li class="list-group-item">
                        <span>
                            @source.HotelName
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="float-card float-card-default" style="width: 60%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-main-reverse text-center">当前状态值</h4>
            </div>
            <div class="panel-body">
                <div style="display: flex;">
                    <div id="currentStatus" style="height: 300px; width: 60%;"></div>
                    <div>
                        <div class="input-row">
                            <label class="lbl100">当前电流值：</label><span id="current" class="span80"></span>
                        </div>
                        <div class="input-row">
                            <label class="lbl100">净化器状态：</label><span id="cleanerStatus" class="span80"></span>
                            <label class="lbl100">风机状态：</label><span id="fanStatus" class="span80"></span>
                        </div>
                        <div class="input-row">
                            <label class="lbl100">当前进烟浓度：</label><span id="lampblackIn" class="span80"></span>
                            <label class="lbl100">当前出烟浓度：</label><span id="lampblackOut" class="span80"></span>
                        </div>
                        <div class="input-row">
                            <label class="lbl100">当前清洁度：</label><span id="cleanRate" class="span80"></span>
                            <label class="lbl100">当前去除率：</label><span id="removeRate" class="span80"></span>
                        </div>
                        <div class="input-row">
                            <label class="lbl160">净化器今天运行时间：</label><span id="cleanerRunTime" class="span160"></span>
                        </div>
                        <div class="input-row">
                            <label class="lbl160">风机今天运行时间：</label><span id="fanRunTime" class="span160"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" style="display: flex;">
                <div style="width: 32%; margin-right: 1%; display: flex;">
                    <label class="lbl40">区县</label>
                    <select id="areas" class="form-control">
                        @{
                            foreach (var area in (Dictionary<Guid, string>) ViewBag.Areas)
                            {
                                <option value="@area.Key">@area.Value</option>
                            }
                        }
                    </select>
                </div>
                <div style="width: 32%; margin-right: 1%; display: flex;">
                    <label class="lbl40">街道</label>
                    <select id="street" class="form-control"></select>
                </div>
                <div style="width: 32%; display: flex;">
                    <label class="lbl40">地址</label>
                    <select id="address" class="form-control"></select>
                </div>
            </div>
            <div id="hotels">
                
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/echart");
    <script src="~/Scripts/Page/Index.js"></script>
}
