@using MvcWebComponents.Extensions
@model SHWDTech.Platform.Model.Model.Department

@{
    Layout = null;
}

@using (Ajax.BeginForm("EditDepartment", null, new AjaxOptions
{
    UpdateTargetId = "slide-up-content",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}.GeneralOptions(), new { id = "departmentEdit" }))
{
    @Html.HiddenFor(m => m.Id)
    <table class="table table-bordered table-striped text-right">
        <colgroup style="width: 15%; line-height: 35px;"></colgroup>
        <colgroup style="width: 35%"></colgroup>
        <colgroup style="width: 15%; line-height: 35px;"></colgroup>
        <colgroup style="width: 35%"></colgroup>
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "请输入部门名称" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </td>
                <td>@Html.LabelFor(m => m.IsEnabled)</td>
                <td>
                    @Html.DropDownListFor(m => m.IsEnabled, (List<SelectListItem>)ViewBag.Enable, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IsEnabled, null, new { @class = "text-danger" })
                </td>
            </tr>
            
            <tr>
                <td>@Html.LabelFor(m => m.Comment)</td>
                <td colspan="3">
                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "请输入备注" })
                </td>
            </tr>
            <tr class="text-center">
                <td colspan="2"><input type="submit" class="btn btn-main" value="提交" style="margin: auto;" /></td>
                <td colspan="2"><input type="button" class="btn btn-main" value="重置" style="margin: auto;" id="reset" /></td>
            </tr>
        </tbody>
    </table>
}

<script type="text/javascript" src="/Scripts/Page/EditDevice.js"></script>