@using MvcWebComponents.Extensions
@using PagedList.Mvc
@using SHWDTech.Platform.Model.Enums
@model Lampblack_Platform.Models.System.UserViewModel

@{
    Layout = null;
}

<div class="single-content">
    <div class="float-card float-card-default float-card-single scroll-y">
        @using (Ajax.BeginForm("UsersManage", null, new AjaxOptions()
        {
            UpdateTargetId = "body-content",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST"
        }, new { Id = "user" }))
        {
            <div class="panel">
                <div class="panel-body">
                    <div class="control-layer horizontal-group">
                        <span>用户查询：</span>
                        <input type="text" class="form-control control280" name="queryName" value="@Model.QueryName" />
                        <input type="submit" class="btn btn-main" value="查询" id="query" />
                        <input type="button" class="btn btn-main" value="新增" id="add" />
                        <input type="button" class="btn btn-main" value="导出" id="export" />
                    </div>
                    <div class="table-layer">
                        <table class="table table-bordered table-striped table-hover text-center">
                            <thead>
                                <tr>
                                    <td style="width: 10%;">
                                        登录账号
                                    </td>
                                    <td style="width: 10%;">
                                        真实姓名
                                    </td>
                                    <td style="width: 10%;">
                                        机构名称
                                    </td>
                                    <td style="width: 10%;">
                                        部门名称
                                    </td>
                                    <td style="width: 10%;">
                                        联系电话
                                    </td>
                                    <td style="width: 10%;">
                                        邮箱
                                    </td>
                                    <td style="width: 10%;">
                                        用户状态
                                    </td>
                                    <td style="width: 10%;">
                                        注册时间
                                    </td>
                                    <td style="width: 10%;">
                                        最后登录时间
                                    </td>
                                    <td style="width: 10%;">
                                        操作
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var user in Model.LampblackUsers)
                                    {
                                        <tr data-company-id="@user.Id">
                                            <td>@user.LoginName</td>
                                            <td>@user.UserIdentityName</td>
                                            <td>@user.CateringCompany.CompanyName</td>
                                            <td>@user.Department.Name</td>
                                            <td>@user.Telephone</td>
                                            <td>@user.Email</td>
                                            @{
                                                var status = EnumHelper<UserStatus>.GetDisplayValue(user.Status);
                                            }
                                            <td>@status</td>
                                            <td>@user.CreateDateTime.ToString("yyyy-MM-dd")</td>
                                            <td>
                                                @if (user.LastLoginDateTime != null)
                                                {
                                                    @user.LastLoginDateTime.Value.ToString("yyyy-MM-dd")
                                                }
                                            </td>
                                            <td>
                                                @Ajax.ActionLink("编辑", "EditUser", new { guid = user.Id },
                                                new AjaxOptions()
                                                {
                                                    HttpMethod = "GET",
                                                    OnSuccess = "slideUp.show",
                                                    UpdateTargetId = "slide-up-content"
                                                })
                                                @Ajax.ActionLink("删除", "DeleteUser", new { guid = user.Id },
                                                new AjaxOptions()
                                                {
                                                    HttpMethod = "GET",
                                                    Confirm = "确定删除吗？"
                                                }.GeneralOptions())
                                            </td>
                                        </tr>
                                                }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-body" style="margin-top: -30px;">
                    <div style="float: right;">
                        @{
                            var option = PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "body-content", InsertionMode = InsertionMode.Replace });
                            option.UlElementClasses = new[] { "no-margin pagination" };
                        }
                        @Html.PagedListPager(Model.LampblackUsers,
                            page => Url.Action("UsersManage", new { page, queryName = Model.QueryName, pageSize = Model.PageSize }), option)
                    </div>
                    <div class="horizontal-group">
                        <label>第 @Model.PageIndex 页 / 共 @Model.PageCount 页 共 @Model.Count 条记录</label>
                        <label style="margin-left: 20px; margin-right: 5px;">每页显示</label>
                        <select class="form-control" style="width: 80px;" id="pageSize" name="pageSize">
                            @{
                                for (var i = 5; i < 25; i += 5)
                                {
                                    var selected = Model.PageSize == i ? "selected='selected'" : "";
                                    <option @selected>@i</option>
                                }
                            }
                        </select>
                        <label>条记录</label>
                    </div>
                </div>
            </div>
                                }
    </div>
</div>

@Html.Partial("SlideUp")

<script src="/Scripts/Page/UserManage.js"></script>
